.banner {
    /* background: url('../../assets/images/Herobanner.png') no-repeat;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat; */
    /* width: 100%;
    height: 0;
    padding-top: 41.67%;
    position: relative; */
    margin-top: 70px;

    @mixin atMedium {
        margin-top: 100px;
    }

    @mixin atLarge {
        height: 380px;
        padding-top: 0;
    }

    &__inner {
        /* position: absolute;
        top: 5%;
        left: 5%;
        right: 19%;
        background-color: rgba(0, 0, 0, 0.53); */
    }
}