.btn {
	color: #000;
	text-decoration: none;
	padding: 0 3.6rem;
	display: inline-block;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

	&--orange {
		background-color: $mainOrange;
	}

	&--large {
		padding: 0.6rem 3.6rem;

		@mixin atSmall {
			font-size: 1.25rem;
		}
	}

	&--grey {
		background-color: #787878;
		color: #b5b5b5;
	}
}