.game {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;

    @mixin atMedium {
        display: flex;
    }

    &__item {
        /* width: 31%; */
        text-align: center;
        margin: 20px;
        & > p {
            font-size: 1.165rem;
        }

        @mixin atSmall {
            /* width: 15%; */
        }
        &--mb {
            display: none;

            @mixin atMedium {
                display: block;
            }
        }
    }

    &--mb {
        display: flex;
    }
}