.input-form {
    & input, & textarea, & select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;

        @mixin atMedium {
            width: 50%;
            margin: 5px;
        }
    }

    & button {
        border:none;
        cursor: pointer;
    }
}