.primary-nav {
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}
	
	&--pull-right {
		@mixin atMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;
		@mixin atMedium {
			float: left;
			display: block;
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: #FFF;
		font-weight: 200;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainBlue, .5);

		@mixin atMedium {
			font-size: 1.0625rem;
			padding: 0 0;
			background-color: transparent;

			&.is-current-link, &:hover {
				color: $mainOrange;
			}
		}
	}
    
    &__login {
		float: right;
        @mixin atMedium {
            li {
                padding: 0 7.5px;
                border-right: 2px solid #FFF;
            }
            li:last-child {
		        padding-right: 0;
                border-right: none;
            }
        }
    }
    &__lang {
        @mixin atMedium {
            li {
                padding: 0 7.5px;
                border-right: 2px solid #FFF;
            }
            li:last-child {
		        padding-right: 0;
                border-right: none;
            }
        }
    }
}