.primary-nav {
	height: 100vh;
	background: #1a1a1a;
	width: 80%;
	position: relative;

	@mixin atMedium {
		padding-top: 0;
		height: auto;
		background: none;
		width: auto;
	}
	
	&--pull-right {
		@mixin atMedium {
			float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		@mixin atMedium {
			float: left;
			width: auto;
			padding-right: 20px;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: #FFF;
		font-weight: 200;
		text-decoration: none;
		display: block;
		padding: 18px 18px;
		font-size: 1.125rem;
		background-color: #292929;
		border: solid 1px rgba(255, 255, 255, 0.1);

		@mixin atMedium {
			font-size: 1.0625rem;
			padding: 0 0;
			background-color: transparent;
			border: none;
		}

		&.is-current-link, &:hover {
			color: $mainOrange;
			background: #1a1a1a;

			@mixin atMedium {
				background: none;
			}
		}
	}
    
    &__login {
		float: right;
        @mixin atMedium {
            li {
                padding: 0 7.5px;
                border-right: 2px solid #FFF;
            }
            li:last-child {
		        padding-right: 0;
                border-right: none;
            }
        }
    }
    &__lang {
        @mixin atMedium {
            li {
                padding: 0 7.5px;
                border-right: 2px solid #FFF;
            }
            li:last-child {
		        padding-right: 0;
                border-right: none;
            }
        }
    }
}