.site-footer {
	background-color: #323232;
	color: #FFF;
	padding: 1.5rem 0 3rem 0;
	text-align: center;
	font-size: 0.8rem;

	@mixin atMedium {
		font-size: 1rem;
	}

	&__text {
		display: block;
		margin-bottom: 1rem;
		font-weight: 200;

		@mixin atMedium {
			display: inline;
			/* margin-bottom: 0; */
			margin-right: 1.4rem;
			font-size: .875rem;
		}

		&--red {
			color:#d02026;
		}
	}

	&__bank-list {
		margin-bottom: 1.5rem;

		& > img {
			width: 46px;

			@mixin atMedium {
				width: auto;
			}
		}
	}

	&__guarantee {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 20px;
		
		img {
			margin: 0 10px;

			@mixin atMedium {
				margin: 0 20px;
			}
		}
	}

	hr {
		height: 2px;
		border: none;
		background-color: #FFF;
  		opacity: 0.45;
	}

	&__contact {
		position: fixed;
		background: none;
		height: 42px;
		width: 100%;
		bottom: 0;
		z-index: 10;
		display: none;

		@mixin atMedium {
			display: block;
		}

		&--sticky {
			background: none;
		}

		& > div {
			display: flex;
			align-items: center;
		}

		& img {
			margin-top: 2px;
			margin-left: 5px;
		}
	}

	&__cc {
		background: #000;
		padding: 5px;
		display: flex;
		align-items: center;
		border-radius: 4px;

		& > img {
			margin: 0 5px;
		}
	}
}